body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
 
main {
    width: auto;
    height: auto;
}

.cadastro form div {
    width: calc(100% / 2);
}

.painel-foto {
    width: 200px;
}

.painel-foto label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

img#foto-preview {
    width: 200px;
    height: 200px;
    border-radius: .6rem;
    border: 2px solid black;
}